@import url('<link href="https: //fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.navfondo {
    background-color: #24252A;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

li,
a,
button {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
}

nav {
    margin-right: 5%;
}

.logo {
    max-width: 500px;
    height: 120px;
    filter: none;
    padding-left: 40px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 18px;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    margin-right: 40px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}

button:hover {
    background-color: #125a4e;
}


/* -------------------Navbars ---------
*******************Inicio*******************************************/


/**********************VIDEO ANIMACION *************/

.container__texto {
    display: flex;
    width: 1000px;
    height: 120px;
    color: #fff;
    font-size: 100px;
    line-height: 40px;
    position: absolute;
    top: 800px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border: 3px solid #fff;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.container__texto ul {
    list-style: none;
    margin: 0;
    animation: cambio 7s infinite;
    margin-left: 40px;
}

.container__texto p {
    margin: 0;
    font-family: 'Raliway', sans-serif;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}

.container__texto li {
    font-size: 100px;
    font-family: 'Raliway', sans-serif;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
    line-height: 1;
}

.atras {
    position: center center;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

.container__texto .ultimo {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: rgba(0, 136, 169, 1);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

@keyframes cambio {
    0% {
        margin-top: -25px;
    }
    25% {
        margin-top: -130px;
    }
    50% {
        margin-top: -230px;
    }
    75% {
        margin-top: -320px;
    }
    100% {
        margin-top: -25px;
    }
}


/********************VIDEO ANIMACION *************/


/********************INICIO *************/

.testimonial-section {
    font-family: "Hind", sans-serif;
    background: #f1f1f1;
    padding: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.testimonial-section h1 {
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.testimonial-pics {
    padding: 40px;
}

.testimonial-pics img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px;
    filter: grayscale( 100%);
    transition: 0.3s;
    cursor: pointer;
}

.testimonial-pics img:hover,
.testimonial-pics img.active {
    filter: none;
}

.testimonial-contents {
    max-width: 600px;
    margin: auto;
}

.testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}

.testimonial p {
    color: #5c5c5c;
    margin-bottom: 20px;
}

.testimonial .description {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
}


/***************Blog*****************/

.latest-news-area {
    margin-top: 40px;
}

.latest-news-wrap {
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.1);
}

.news-img {
    position: relative;
}

.news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before {
    opacity: .5;
    transform: scale(1);
}

.deat {
    background: rgba(0, 136, 169, 1) none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px;
}

.deat span {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.news-content {
    padding: 20px;
    margin-left: 3px;
}

.news-content i {
    font-size: 18px;
    display: inline-block;
}

.news-content .fa {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.news-content .fa-facebook {
    color: #3b5995;
}

.news-content .fa-twitter {
    color: #0084b4;
}

.news-content .fa-linkedin {
    color: #0077b5;
}

.news-content .fa-youtube {
    color: red;
}

.news-content .fa-whatsapp {
    color: #34af23;
}

.news-content p {
    margin-bottom: 15px;
    text-align: center;
    margin-top: 20px;
}

.news-content a {
    font-size: 14px;
    background-color: rgba(0, 136, 169, 1);
    padding: 10px 20px;
    color: white;
    transition: all 0.5 ease-in;
    text-decoration: none;
}

.news-content a:hover {
    font-size: 14px;
    border: 1px solid #33494e;
    border-top-right-radius: 20px;
    background-color: #125a4e;
    color: #fff;
    transition: 0.5s;
}


/******************** RESPONSIVE INDEX *************/

@media screen and (max-width: 1400px) {
    .testimonial-section {
        width: 100%;
    }
    .container__texto {
        width: 85%;
        top: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .testimonial-section {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .container__texto {
        display: none;
    }
}

@media screen and (max-width:860px) {
    .testimonial-section {
        width: 100%;
    }
    .navfondo {
        width: 100%;
    }
    body {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .testimonial-section {
        width: 100%;
    }
    .navfondo {
        width: 100%;
    }
}

@media screen and (max-width: 361px) {
    .testimonial-section {
        width: 100%;
    }
    body {
        width: 400px;
    }
}

@media screen and (min-width: 319px) {
    body {
        width: min-content;
    }
}


/******************** RESPONSIVE INDEX *************/


/* -------------------Inicio ---------
*******************Contacto****************/

.contact-section {
    background: url(images2/fondo4.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

.contact-section h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: left;
    border: 0;
    background: rgba(0, 136, 169, 1);
    color: #fff;
    padding: 12px 50px;
    border: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 37px;
}

.contact-form-enviar {
    float: left;
    border: 0;
    background: rgba(0, 136, 169, 1);
    color: #fff;
    padding: 12px 50px;
    border: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 37px;
}

.contact-form-btn:hover {
    background: #125a4e;
}

.contact-form-enviar:hover {
    background: #125a4e;
}

h1 {
    margin: 0;
    padding: 0;
}


/* ------------ final contacto ------------------------
--------------- inicio quienessomos---------------------------- */

.body {
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
    width: auto;
}

.about {
    background: url(images2/fondo.jpg) no-repeat left;
    background-size: 55%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 100px 0;
}

.inner-section {
    width: 50%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    line-break: anywhere;
}

.inner-section h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    background-color: #fdfdfd;
}

.text {
    font-size: 16px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    background-color: #fdfdfd;
}

@media screen and (max-width: 1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 0;
        height: auto;
    }
    .inner-section {
        padding: 60px;
    }
}

@media screen and (min-width: 320px) {
    .inner-section {
        margin-top: 10px;
        padding-top: 20px;
    }
}


/* ---------------------- final quienes somos -----------------
------------------------- inicio Blog ---------------------- */

.todito {
    font-family: "Raleway", sans-serif;
}

.todito h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}


/*------------- HERO -----------------*/

img {
    filter: grayscale(50%) brightness(0.8);
}

img:hover {
    filter: none;
    transition: 0.5s;
}

img.rounded-circle {
    filter: none;
    border: 2px solid #ffffff;
}

.hero {
    background-color: #d9dfe4;
}

.hero-post {
    position: relative;
}

.hero-post-badges {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
}

.hero-post-badges a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 135, 169, 0.466);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-post-content {
    position: absolute;
    bottom: 10px;
    color: #fff;
}

.hero-post-content img {
    border: 2px solid #fff;
}


/**************MAIN BLOG ***********************/

.blog-posts {
    background-color: #ededee;
    color: #111;
}

.blog-post {
    background-color: #ffffff;
}

.blog-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post a {
    color: #34495e;
}

.blog-post p {
    font-size: 0.9rem;
}

.blog-post .col-sm-8 {
    border-left: 3px solid black;
}

.badge {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.badge>a {
    margin-left: 0.5rem;
    padding: 0.5 rem;
    color: black;
    background-color: rgb(5, 161, 201);
    text-decoration: none
}


/**************** ASIDE *****************/

.social-links a {
    color: black;
    font-size: 1.5rem;
}

.social-links {
    background-color: hsl(0, 5%, 85%);
    color: black;
    font-size: 1rem;
}

.fa-facebook {
    color: #1445a7;
}

.fa-whatsapp {
    color: #38aa29;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-twitter {
    color: #0084b4;
}

.secondary-color {
    background-color: hsl(0, 7%, 66%);
}

.aside-heading {
    border-left: 3px solid black;
}

.author {
    font-size: 0.9rem;
}

.author p {
    font-size: 0.9rem;
}

.author-social-links a {
    color: black;
    margin-left: 0.8rem;
}

.badges {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.badges>a {
    margin: 0.2rem;
    margin-left: 0.5rem;
    padding: 0.5 rem;
    display: inline-block;
    color: black;
    background-color: rgb(5, 161, 201);
    text-decoration: none;
}


/************FOOTER*******************/

.footer {
    background-color: #24252A;
}

.footer h4 {
    color: white;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #0088a9;
}

.footer p {
    color: white;
}

.btn {
    color: #fff;
    border: none;
    background-color: rgba(0, 136, 169, 1);
}

.btn:hover {
    background-color: #125a4e;
    transition: 0.2s;
}

.footerlogo {
    filter: none;
}


/*--------------- final experiencias --------------------------------
----------------- inicio cursos ------------------------------------*/

.card-body ul li {
    color: #333;
}

.card-body button {
    color: white;
    background-color: rgba(0, 136, 169, 1);
}

.card-body button :hover {
    background-color: #125a4e;
}