@import url('<link href="https: //fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

li,
a,
button {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

.navfondo {
    background-color: #24252A;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    nav {
        margin-right: 5%;
        .nav__links {
            list-style: none;
            li {
                display: inline-block;
                padding: 0px 20px;
                a {
                    transition: all 0.3s ease 0s;
                    text-decoration: none;
                    font-size: 18px;
                    &a:hover {
                        color: #0088a9;
                    }
                }
            }
        }
    }
    .logo {
        max-width: 500px;
        height: 120px;
        filter: none;
        padding-left: 40px;
    }
    button {
        margin-right: 40px;
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-size: 18px;
        &:hover {
            background-color: #125a4e;
        }
    }
}


/* -------------------Navbars ---------
*******************Inicio*******************************************/


/**********************VIDEO ANIMACION *************/

.container__fondito {
    .container__video {
        .atras {
            position: center center;
            right: 0;
            bottom: 0;
            width: 100%;
            min-height: 100%;
        }
    }
    .container__texto {
        display: flex;
        width: 1000px;
        height: 120px;
        color: #fff;
        font-size: 100px;
        line-height: 40px;
        position: absolute;
        top: 800px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: hidden;
        border: 3px solid #fff;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 20px;
        ul {
            list-style: none;
            margin: 0;
            animation: cambio 7s infinite;
            margin-left: 40px;
            li {
                font-size: 100px;
                font-family: 'Raliway', sans-serif;
                -webkit-text-fill-color: transparent;
                /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                font-weight: bold;
                line-height: 1;
            }
        }
        p {
            margin: 0;
            font-family: 'Raliway', sans-serif;
            -webkit-text-fill-color: transparent;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            font-weight: bold;
        }
        .ultimo {
            text-transform: uppercase;
            font-weight: bold;
            color: black;
            -webkit-text-fill-color: rgba(0, 136, 169, 1);
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }
    }
}

@keyframes cambio {
    0% {
        margin-top: -25px;
    }
    25% {
        margin-top: -130px;
    }
    50% {
        margin-top: -230px;
    }
    75% {
        margin-top: -320px;
    }
    100% {
        margin-top: -25px;
    }
}


/********************FIN VIDEO ANIMACION *************/


/******************** TESTIMONIALS *************/

.exp {
    .testimonial-section {
        font-family: "Hind", sans-serif;
        background: #f1f1f1;
        padding: 80px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        .inner-width {
            max-width: 1200px;
            margin: auto;
            padding: 0 20px;
            .testimonial-pics {
                padding: 40px;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin: 0 20px;
                    filter: grayscale( 100%);
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        filter: none;
                    }
                    .active {
                        filter: none;
                    }
                }
            }
            h1 {
                font-weight: 400;
                letter-spacing: 10px;
                text-transform: uppercase;
                font-size: 20px;
            }
            .testimonial-contents {
                max-width: 600px;
                margin: auto;
                .testimonial {
                    display: none;
                    p {
                        color: #5c5c5c;
                        margin-bottom: 20px;
                    }
                    .description {
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        font-size: 15px;
                    }
                }
                .active {
                    display: block;
                }
            }
        }
    }
}


/***************Blog*****************/

.latest-news-area {
    margin-top: 40px;
}

.latest-news-wrap {
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.1);
}

.news-img {
    position: relative;
}

.news-img:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before {
    opacity: .5;
    transform: scale(1);
}

.deat {
    background: rgba(0, 136, 169, 1) none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px;
    span {
        display: block;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
}

.news-content {
    padding: 20px;
    margin-left: 3px;
    i {
        font-size: 18px;
        display: inline-block;
        .fa {
            padding: 10px 10px 10px 10px;
            cursor: pointer;
        }
    }
    .fa-facebook {
        color: #3b5995;
    }
    .fa-twitter {
        color: #0084b4;
    }
    .fa-linkedin {
        color: #0077b5;
    }
    .fa-youtube {
        color: red;
    }
    .fa-whatsapp {
        color: #34af23;
    }
    p {
        margin-bottom: 15px;
        text-align: center;
        margin-top: 20px;
    }
    a {
        font-size: 14px;
        background-color: rgba(0, 136, 169, 1);
        padding: 10px 20px;
        color: white;
        transition: all 0.5 ease-in;
        text-decoration: none;
        &:hover {
            font-size: 14px;
            border: 1px solid #33494e;
            border-top-right-radius: 20px;
            background-color: #125a4e;
            color: #fff;
            transition: 0.5s;
        }
    }
}


/******************** RESPONSIVE INDEX *************/

@media screen and (max-width: 1400px) {
    .testimonial-section {
        width: 100%;
    }
    .container__texto {
        width: 85%;
        top: 50%;
    }
    .body {
        width: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    .testimonial-section {
        width: 100%;
    }
    .body {
        width: fit-content;
    }
}

@media screen and (max-width: 1024px) {
    .container__texto {
        display: none;
    }
    .body {
        width: fit-content;
    }
}

@media screen and (max-width:860px) {
    .testimonial-section {
        width: 100%;
    }
    .navfondo {
        width: 100%;
    }
    .body {
        width: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .testimonial-section {
        width: 100%;
    }
    .navfondo {
        width: 100%;
    }
    .body {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .testimonial-section {
        width: 100%;
    }
    body {
        width: 68vh;
    }
}


/*@media screen and (max-width: 376px) {
    .testimonial-section {
        width: 100%;
    }
    body {
        width: min-content;
    }
}

@media screen and (max-width: 321px) {
    body {
        width: min-;
    }
    .footer {
        .footerlogo {
            left: 10%;
        }
    }
}


******************* RESPONSIVE INDEX *************/


/* -------------------FIN INICIO ---------*/


/************FOOTER*******************/

.footer {
    background-color: #24252A;
    h4 {
        color: white;
    }
    a {
        text-decoration: none;
        &:hover {
            color: #0088a9;
        }
    }
    p {
        color: white;
    }
    .btn {
        color: #fff;
        border: none;
        background-color: rgba(0, 136, 169, 1);
        &:hover {
            background-color: #125a4e;
            transition: 0.2s;
        }
    }
    .footerlogo {
        filter: none;
    }
    .col-md-4 {
        text-align: center;
    }
}


/* -------------------FIN FOOTER ---------*/


/*******************INCIO CONTACTO ****************/

.contact-section {
    background: url(../../images2/fondo4.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        margin: auto;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        border: 4px #181f25 solid;
        width: 384px;
        height: 58px;
    }
    .border {
        width: 100px;
        height: 10px;
        background: #34495e;
        margin: 40px auto;
    }
    .contact-form {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;
        .contact-form-text {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin: 16px 0;
            border: 0;
            background-color: #111;
            padding: 20px 40px;
            outline: none;
            color: #ddd;
            transition: 0.5s;
            &:focus {
                box-shadow: 0 0 10px 4px #34495e;
            }
        }
        textarea {
            .contact-form-text {
                resize: none;
                height: 120px;
            }
        }
        .contact-form-btn {
            float: left;
            border: 0;
            background: rgba(0, 136, 169, 1);
            color: #fff;
            padding: 12px 50px;
            border: 20px;
            cursor: pointer;
            transition: 0.5s;
            margin: 37px;
            &:hover {
                background: #125a4e;
            }
        }
        .contact-form-enviar {
            float: left;
            border: 0;
            background: rgba(0, 136, 169, 1);
            color: #fff;
            padding: 12px 50px;
            border: 20px;
            cursor: pointer;
            transition: 0.5s;
            margin: 37px;
            &:hover {
                background: #125a4e;
            }
        }
    }
}


/* ------------ final contacto ------------------------
--------------- inicio quienessomos---------------------------- */

.body {
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
    width: auto;
}

.about {
    background: url(../../images2/fondo.jpg) no-repeat left;
    background-size: 55%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 100px 0;
    .inner-section {
        width: 50%;
        float: right;
        background-color: #fdfdfd;
        padding: 150px;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
        line-break: anywhere;
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: 900;
            background-color: #fdfdfd;
        }
        .text {
            font-size: 16px;
            color: #545454;
            line-height: 30px;
            text-align: justify;
            margin-bottom: 40px;
            background-color: #fdfdfd;
        }
    }
}


/*@media screen and (max-width: 1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 0;
        height: auto;
    }
    .inner-section {
        padding: 60px;
    }
}

@media screen and (min-width: 320px) {
    .inner-section {
        margin-top: 10px;
        padding-top: 20px;
    }
}
 */


/* ---------------------- final quienes somos -----------------
------------------------- inicio Blog ---------------------- */

.todito {
    font-family: "Raleway", sans-serif;
    h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 700;
    }
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    h4 {
        font-weight: 700;
    }
    h5 {
        font-weight: 700;
    }
}


/*------------- HERO -----------------*/

img {
    filter: grayscale(50%) brightness(0.8);
    &:hover {
        filter: none;
        transition: 0.5s;
    }
}

.hero {
    background-color: #d9dfe4;
    .container {
        .hero-post {
            position: relative;
            .hero-post-badges {
                position: absolute;
                text-align: center;
                top: 10px;
                right: 10px;
                a {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    background-color: rgba(0, 135, 169, 0.466);
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

.hero-post-content {
    position: absolute;
    bottom: 10px;
    color: #fff;
    img {
        border: 2px solid #fff;
    }
    .rounded-circle {
        border: 2px solid #ffffff;
        filter: none;
    }
}


/**************MAIN BLOG ***********************/

.blog-posts {
    background-color: #ededee;
    color: #111;
    .blog-post {
        background-color: #ffffff;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a {
            color: #34495e;
        }
        p {
            font-size: 0.9rem;
        }
        .col-sm-8 {
            border-left: 3px solid black;
        }
        .badge {
            padding-top: 1rem;
            padding-bottom: 1rem;
            a {
                margin-left: 0.5rem;
                padding: 0.5 rem;
                color: black;
                background-color: rgb(5, 161, 201);
                text-decoration: none
            }
        }
        /*********************ASIDE *********************/
    }
}


/**************** ASIDE *****************/

.social-links {
    background-color: hsl(0, 5%, 85%);
    color: black;
    font-size: 1rem;
    a {
        color: black;
        font-size: 1.5rem;
    }
}

.secondary-color {
    background-color: hsl(0, 7%, 66%);
}

.aside-heading {
    border-left: 3px solid black;
}

.author {
    font-size: 0.9rem;
    p {
        font-size: 0.9rem;
    }
    .author-social-links {
        a {
            color: black;
            margin-left: 0.8rem;
            .fa-facebook {
                color: #1445a7;
            }
            .fa-whatsapp {
                color: #38aa29;
            }
            .fa-linkedin {
                color: #0077b5;
            }
            .fa-twitter {
                color: #0084b4;
            }
        }
    }
}

.badges {
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
        margin: 0.2rem;
        margin-left: 0.5rem;
        padding: 0.5 rem;
        display: inline-block;
        color: black;
        background-color: rgb(5, 161, 201);
        text-decoration: none;
    }
}


/*****************CURSOS*******************/

.list-unstyled {
    li {
        color: #000;
    }
}

.btn {
    color: #fff;
    background-color: rgba(0, 136, 169, 1);
    &:hover {
        background-color: #125a4e;
    }
}


/********************* PRELOADER ******************/

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #24252A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    .busofot {
        width: 700px;
        height: 700px;
        position: absolute;
    }
    h3 {
        position: absolute;
        top: 75%;
        transform: translateY( -75%);
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .burbuja1 {
        top: 10%;
        left: 58%;
        height: 200px;
        position: absolute;
        animation: bubble 1s ease infinite alternate;
    }
    .burbuja2 {
        top: 75%;
        left: 20%;
        height: 200px;
        position: absolute;
    }
    .burbuja3 {
        top: 75%;
        right: 20%;
        height: 200px;
        position: absolute;
    }
    .burbuja4 {
        top: 20%;
        left: 10%;
        height: 200px;
        position: absolute;
    }
    .burbuja5 {
        top: 20%;
        right: 10%;
        height: 200px;
        position: absolute;
    }
    .fish1 {
        height: 100px;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 15%;
        transform: translate(100%);
        animation: fish 3s ease infinite 1.3s;
    }
    .fish2 {
        height: 100px;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 40%;
        transform: translate(100%);
        animation: fish 3s ease infinite 3.5s;
    }
    .fish3 {
        height: 100px;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 75%;
        transform: translate(100%);
        animation: fish 3s ease infinite 2.5s;
    }
    .coral1 {
        height: 200px;
        position: absolute;
        top: 80%;
    }
    .coral2 {
        height: 200px;
        position: absolute;
        top: 80%;
        right: 10%;
    }
    .coral3 {
        height: 200px;
        position: absolute;
        top: 80%;
        left: 5%;
    }
}

@keyframes bubble {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-50px);
    }
}

@keyframes fish {
    from {
        right: 0;
    }
    to {
        right: 130%;
    }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}